[Unit]
Description=Run GeoVault areas server incremental update daily
Requires=areas_server_update.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
