[Unit]
Description=GeoVault Server
After=network.target redis.service geovault-celery.service geovault-celery-beat.service
Requires=redis.service geovault-celery.service geovault-celery-beat.service

[Service]
Type=simple
User=geovault
SyslogIdentifier=geovault
ExecStart=/srv/geovault/geovault/src/backend/server-prod.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
