[Unit]
Description=GeoVault is_in Areas Server incremental update
After=network.target postgresql.service

[Service]
Type=oneshot
User=geovault
WorkingDirectory=/srv/geovault/geovault/src/areas_server
EnvironmentFile=-/etc/secrets/is_in_areas.env
ExecStart=/srv/geovault/geovault/src/areas_server/scripts/update.sh

[Install]
WantedBy=multi-user.target
