<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.android.package-archive" />
        </intent>
    </queries>
    <permission
        android:name="com.geovault.common.permission.READ_SERVER_URL"
        android:protectionLevel="signature" />
    <application>
        <receiver
            android:name=".logging.GeoVaultCaptureLogExportReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geovault.common.EXPORT_CAPTURE_LOG" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.geovault.updatefileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/geovault_update_file_paths" />
        </provider>
    </application>
</manifest>
