:root {

  /* Blue Color Scale */
  --color-blue-50: #F3F6FA;
  --color-blue-100: #E4EAF5;
  --color-blue-200: #C4D2ED;
  --color-blue-300: #99B2E4;
  --color-blue-400: #6C93DE;
  --color-blue-500: #163D8A;
  --color-blue-600: #063288;
  --color-blue-700: #052055;
  --color-blue-800: #061D4A;
  --color-blue-900: #051638;

  /* Red Color Scale */
  --color-red-50: #FCF2F2;
  --color-red-100: #F9E1E1;
  --color-red-200: #F5BCBD;
  --color-red-300: #F28B8D;
  --color-red-400: #F45759;
  --color-red-500: #FF3E41;
  --color-red-600: #ED0003;
  --color-red-700: #9E0002;
  --color-red-800: #760001;
  --color-red-900: #590001;

  /* Green Color Scale */
  --color-green-50: #F6FAF4;
  --color-green-100: #EBF4E6;
  --color-green-200: #D5E8C9;
  --color-green-300: #BAD8A5;
  --color-green-400: #9EC982;
  --color-green-500: #5B8A3C;
  --color-green-600: #4D802B;
  --color-green-700: #2B4619;
  --color-green-800: #253B16;
  --color-green-900: #1B2C10;

  /* Yellow Color Scale */
  --color-yellow-50: #FBF8F3;
  --color-yellow-100: #F7EFE2;
  --color-yellow-200: #F1DDBF;
  --color-yellow-300: #EDC791;
  --color-yellow-400: #EBB25F;
  --color-yellow-500: #F4AC45;
  --color-yellow-600: #EA8A00;
  --color-yellow-700: #9C5C00;
  --color-yellow-800: #754500;
  --color-yellow-900: #583300;

  /* Purple Color Scale */
  --color-purple-50: #FAF4F9;
  --color-purple-100: #F4E6F2;
  --color-purple-200: #E8C8E3;
  --color-purple-300: #DCA2D3;
  --color-purple-400: #D179C4;
  --color-purple-500: #CB48B7;
  --color-purple-600: #AE1F99;
  --color-purple-700: #721664;
  --color-purple-800: #54124A;
  --color-purple-900: #3F0D37;
}
